OPENAI_API_KEY=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
DATABASE_URL=postgresql://postgres:MeRW84#Munna@db.nhmwqscrckxzqzqheqry.supabase.co:5432/postgres
